<!DOCTYPE html>

<html>
    <head>
        <title>About</title> 
        <link rel="icon" href="/img/web-profile-img.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Andrew Mead. It uses data from weatherstack and geoapify.</p>
            <img class="portrait" src="/img/web-profile-img.png">
        </div>

        {{>footer}}
    </body>
</html>